{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    //Modules + global strict
    "modules": true,
    "jsx": true
  },
  "rules": {
    //Development rules
    //Allow any kind of qoutes
    "quotes": 0,
    //Allow console
    "no-console": 0,
    //Allow debugger
    "no-debugger": 0,
    //Allow files to end without a newline
    "eol-last": 0
  },
  "plugins": [
    "react",
    "babel"
  ]
}